<nav *ngIf="isAuthenticated()" class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Knowledge test</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" [routerLink]="['findtest']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Find test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['mytests']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">My tests</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>

<form class="form-inline bg-light" *ngIf="!isAuthenticated()" #signupForm="ngForm" (ngSubmit)="login(signupForm)">
      <div class="form-group mr-4 ml-3">
        <a class="nav-link active" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Knowledge test</a>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username"  name="username" id="username" ngModel>
      </div>
      <div class="form-group"> 
        <input type="password" class="form-control" placeholder="Password" name="password" id="password" ngModel>
      </div>
      <div class="form-group">
        <button class="btn btn-secondary" type="submit">Sign Up</button>
      </div>
      <div class="form-group ml-4">
        <label>Doesnt have an account? Create it now </label>
        <a class="btn btn-secondary ml-2" [routerLink]="['/register']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngIf="!isAuthenticated()">Register</a>
    </div>
</form>

<br>

<router-outlet></router-outlet>
