<table *ngIf="!showFormForAddingQuestion" class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Test name</th>
        <th scope="col">Time for passing</th>
        <th scope="col">Delete test</th>
        <th scope="col">Assign question to test</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let test of allTests">
        <td>{{test.testName}}</td>
        <td>{{test.timeInMin}} min</td>
        <td><button class="btn btn-danger" type="submit" (click)="deleteTest(test.id!)">Delete</button></td>
        <td><button class="btn btn-primary" type="submit" (click)="beginAddingQuestion(test.id!)">Add question</button></td>
      </tr>
    </tbody>
</table>

<a *ngIf="!showFormForAddingQuestion" class="btn btn-primary" routerLink="/addtest" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Add new test</a>
<a *ngIf="!showFormForAddingQuestion" class="btn btn-success" routerLink="/edit" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Edit test or questions</a>

<div *ngIf="showFormForAddingQuestion" class="container">
  <form #registerForm="ngForm" (ngSubmit)="addQuestion(registerForm)">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Question"  name="question" id="username" ngModel>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Answear"  name="answear" id="email" ngModel>
      </div>
      <button class="btn btn-success" type="submit">Add test</button>
      <a class="btn btn-danger" (click)="cancel()">Go back</a>
  </form>
</div>
